services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: smartcart_api
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - project_data:/project_data
      - faiss_index:/faiss_index

  db:
    image: postgres:16
    container_name: smartcart_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: lottery1234
      POSTGRES_DB: smartcartdb_v2
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: smartcart_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin1234
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  pgdata:
  project_data:
  faiss_index:
