body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #eef;
}

header {
  background-color: #224;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

main {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
